@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}
#como-funciona {
  padding: 60px 20px;
  background: #e0e0e0;
  text-align: center;
}

#como-funciona h2 {
  font-size: 55px;
  margin-bottom: 80px;
  font-weight: 300; 
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

.steps {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start; 
  justify-items: center;
  gap: 125px;
}

.step {
  max-width: 400px;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.icon-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle i {
  font-size: 30px;
  color: white;
}

.step h3 {
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: 400;
}

.step p {
  font-size: 18px;
  color: #444;
  font-weight: 400;
  line-height: 1.5;
}