<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<section class="categorias-de-serviços py-5">
    <div class="categoria text-center mb-5 mt-4">
        <h1>Categorias de Serviços</h1>
    </div>

    <div class="row justify-content-center g-4 px-3">
        <div class="col-6 col-sm-4 col-md-2">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-wrench-adjustable-circle fs-1 mb-2"></i>
                    <h5 class="card-title">Encanador</h5>
                    <p class="card-text">Reparos hidráulicos</p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-lightning-charge-fill fs-1 mb-2"></i>
                    <h5 class="card-title">Eletricista</h5>
                    <p class="card-text">Instalações elétricas</p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-house-door-fill fs-1 mb-2"></i>
                    <h5 class="card-title">Diarista</h5>
                    <p class="card-text">Limpeza Residencial</p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-gear-fill fs-1 mb-2"></i>
                    <h5 class="card-title">Mecânico</h5>
                    <p class="card-text">Manutenção Automotiva</p>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
