@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

.sobre-nos {
  background-color: #ffffff;
  padding: 10px 20px 20px 20px; 
  text-align: center;
  font-family: 'Outfit', Arial, sans-serif;
}

.sobre-nos h2 {
  font-size: 55px;
  margin-bottom: 10px; 
  color: #000000;
  font-family: 'Outfit', Arial, sans-serif;
  font-weight: 300;
}



.sobre-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  max-width: 1000px;
  margin: -30px auto 0 auto; 
  padding-left: 220px;
  text-align: left;
  font-family: 'Outfit', Arial, sans-serif;
}

.sobre-container .icone img.logo {
  width: 400px;
  height: auto;
}

.sobre-container .texto {
  max-width: 400px; 
  font-size: 23px;
  line-height: 1.6;
  color: #222;
}

