* {
    font-family: sans-serif;
}
p{
    font-size: 14px;
}
.categoria h1 {
    margin-bottom: clamp(20px, 5vw, 60px);
}

.card-body {
    text-align: center;
}

.card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
